# bi record template for register inputs
record(bi,"$(P)$(R)") {
	field(DTYP,"asynUInt32Digital")
	field(INP,"@asynMask($(PORT) $(OFFSET) $(MASK=0xFFFF))")
	field(SCAN,"$(SCAN)")
	field(ZNAM,"$(ZNAM)")
	field(ONAM,"$(ONAM)")
	field(ZSV,"$(ZSV)")
	field(OSV,"$(OSV)")
	field(DESC,"$(DESC)")
}
